*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: salmon;
}

.logo {
    color: seashell;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color: seashell;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.burger div {
    width:25px;
    height: 3px;
    background-color: seashell;
    margin: 5px;
}